##  Merge prepared Instacart orders data with the new orders_products_prior dataframe

### Contents List:
 
#### 1. Importing libraries and files
#### 2. Data wrangling
#### 3. Merging order and ords_prods using Plan A
#### 4. Exporting mergerd dataset in .pkl format

** **

### 1. Importing libraries and files

In [1]:
#import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Set path

path = r'C:\Users\mehrn\OneDrive\Desktop\CareerFoundry Materials\Tasks\Python\10-01-23 Instacart Basket Analysis'

In [3]:
# Import the existing data 

ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.CSV'), index_col = False)
ords_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

### 2. Data wrangling

In [4]:
# Check the columns

ords.columns

Index(['Unnamed: 0', 'order_id', 'user_id', 'eval_set', 'order_number',
       'order_dow', 'order_hour_of_day', 'days_since_prior_order',
       'new_customer'],
      dtype='object')

In [5]:
# Check structure of data in dataframe 

ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,new_customer
0,0,2539329,1,prior,1,2,8,-1.0,True
1,1,2398795,1,prior,2,3,7,15.0,False
2,2,473747,1,prior,3,3,12,21.0,False
3,3,2254736,1,prior,4,4,7,29.0,False
4,4,431534,1,prior,5,4,15,28.0,False

In [6]:
# Delete the unnecessary columns

ords.drop(columns = {'eval_set', 'Unnamed: 0'}, inplace = True)

In [7]:
# Rename the unclear names of columns

ords.rename(columns = {'order_dow':'orders_day_of_week', 'order_hour_of_day':'order_time_of_day'}, inplace = True)

In [8]:
ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order', 'new_customer'],
      dtype='object')

In [9]:
ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,new_customer
0,2539329,1,1,2,8,-1.0,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [10]:
ords.rename(columns = {'order_dow':'orders_day_of_week', 'order_hour_of_day':'order_time_of_day'}, inplace = True)

In [11]:
ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order', 'new_customer'],
      dtype='object')

In [12]:
ords_prods.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [13]:
# Check output to see memory usage

ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_time_of_day       int64
 5   days_since_prior_order  float64
 6   new_customer            bool
dtypes: bool(1), float64(1), int64(5)
memory usage: 159.9 MB

### 3. Merging order and ords_prods using Plan A

In [14]:
# Change types for ords data set

ords['order_id']=ords['order_id'].astype('int32')
ords['user_id'] = ords['user_id'].astype('int32')
ords['order_number']=ords['order_number'].astype('int8')
ords['orders_day_of_week']=ords['orders_day_of_week'].astype('int8')
ords['order_time_of_day']=ords['order_time_of_day'].astype('int8')
ords['days_since_prior_order']=ords['days_since_prior_order'].astype('float16')

In [15]:
# Check output to see memory usage

ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   new_customer            bool
dtypes: bool(1), float16(1), int32(2), int8(3)
memory usage: 45.7 MB

In [16]:
# Check output to see memory usage

ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [17]:
# Change types for ords prods data set 

ords_prods['product_id'] =ords_prods['product_id'].astype('int32')
ords_prods['reordered']=ords_prods['reordered'].astype('int8')
ords_prods['add_to_cart_order']=ords_prods['add_to_cart_order'].astype('int32')
ords_prods['order_id']=ords_prods['order_id'].astype('int32')

In [18]:
# Check output to see memory usage
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [19]:
# Attemp a merge

ords_prods_merged = ords.merge(ords_prods, on = ['order_id'], how = 'outer', indicator = True)

In [20]:
# The results of a merge using the argument how = outer.
# The merge flags show us there is not a full match between the two input dataframes.

ords_prods_merged['_merge'].value_counts(dropna = False)

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [21]:
ords_prods_merged.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

### 4. Exporting mergerd dataset in .pkl format

In [22]:
# Export data to pkl

# ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [23]:
# Export data to .csv 
ords_prods_merged.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.csv'))