## Importing orders_products_combined to merge with Products dataset

### Contents List
 
#### 1. Importing libraries and files
#### 2. Data type checking
#### 3. Merging order and ords_prods using Plan A& B
#### 4.  Exporting orders_products_merged dataset in .pkl format
** **

### 1. Importing libraries and files

In [1]:
# Import the libraries

import os
import numpy as np
import pandas as pd

In [2]:
# Set path

path = r'C:\Users\mehrn\OneDrive\Desktop\CareerFoundry Materials\Tasks\Python\10-01-23 Instacart Basket Analysis'

In [3]:
# Import 'orders_products_combined' to check the shape of the imported dataframe

ords_prods= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,-1.0,True,196.0,1.0,0.0,both
1,2539329,1,1,2,8,-1.0,True,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,-1.0,True,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,-1.0,True,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,-1.0,True,26405.0,5.0,0.0,both

In [4]:
# Import products dataset to combine with 'ords_prods' dataframe


prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products__checked.CSV'), index_col = 0)

### 2. Data type checking

In [5]:
prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49672 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.3+ MB

### 3. Merging products and ords_prods using Plan A& B

In [7]:
# Change types for prods dataset 

prods['aisle_id'] = prods['aisle_id'].astype('int8')
prods['department_id'] = prods['department_id'].astype('int8')
prods['prices'] = prods['prices'].astype('float16')

In [8]:
# Check memory usage

prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49672 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int8
 3   department_id  49672 non-null  int8
 4   prices         49672 non-null  float16
dtypes: float16(1), int64(1), int8(2), object(1)
memory usage: 1.3+ MB

In [9]:
# Check memory usage

ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32640698 entries, 0 to 32640697
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   new_customer            bool
 7   product_id              float64
 8   add_to_cart_order       float64
 9   reordered               float64
 10  _merge                  category
dtypes: bool(1), category(1), float16(1), float64(3), int32(2), int8(3)
memory usage: 1.4 GB

In [10]:
# Change types for prods dataset 

ords_prods['product_id'] = ords_prods['product_id'].astype('float16')
ords_prods['add_to_cart_order'] = ords_prods['add_to_cart_order'].astype('float16')
ords_prods['reordered'] = ords_prods['reordered'].astype('float16')

In [11]:
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32640698 entries, 0 to 32640697
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   new_customer            bool
 7   product_id              float16
 8   add_to_cart_order       float16
 9   reordered               float16
 10  _merge                  category
dtypes: bool(1), category(1), float16(4), int32(2), int8(3)
memory usage: 902.7 MB

In [12]:
ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,-1.0,True,196.0,1.0,0.0,both
1,2539329,1,1,2,8,-1.0,True,14080.0,2.0,0.0,both
2,2539329,1,1,2,8,-1.0,True,12424.0,3.0,0.0,both
3,2539329,1,1,2,8,-1.0,True,26080.0,4.0,0.0,both
4,2539329,1,1,2,8,-1.0,True,26400.0,5.0,0.0,both

In [13]:
orde_prods = ords_prods.drop(columns = ['_merge'], inplace = True)

In [14]:
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32640698 entries, 0 to 32640697
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   new_customer            bool
 7   product_id              float16
 8   add_to_cart_order       float16
 9   reordered               float16
dtypes: bool(1), float16(4), int32(2), int8(3)
memory usage: 871.6 MB

In [28]:
 merged_df= ords_prods.merge(prods, on = 'product_id', indicator = True)

In [34]:
merged_df['orders_day_of_week'].value_counts(dropna = False)

0    6183034
1    5643686
6    4483111
2    4202518
5    4195206
3    3830728
4    3774173
Name: orders_day_of_week, dtype: int64

In [16]:
# %%time

# ords_prods_key = ords_prods['product_id']

# # Creating an empty shell to save the result
# df_result = pd.DataFrame(columns=(prods.columns.append(ords_prods.columns)).unique())
# df_result.to_csv(os.path.join(path, '02 Data', 'Prepared Data', "df.csv"),index_label=False)

# # Deleting ords_prods to save memory (the large one)
# del(ords_prods)

# # The basic idea is that we'll now load the large data set into chunks and then create a function that will 
# # iteratively merge those chunks to the main data set 


# # Define a function that will merge the chunks
# def preprocess(x):
#     ords_prods = pd.merge(prods,x, left_on = "product_id", right_on = "product_id")
#     ords_prods.to_csv(os.path.join(path, '02 Data', 'Prepared Data', "df.csv"),mode="a",header=False,index=False)

    
# reader = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), chunksize=10000) # chunksize depends on you colsize

# [preprocess(r) for r in reader]

In [17]:
# # Import the result to see what happened 

# df_test = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df.csv'))

In [18]:
#df_test.columns

In [19]:
#df_test.head()

In [20]:
#df_test.info()

In [21]:
#df_test.shape

In [22]:
# # Change types for df_test dataset 

# df_test['product_id'] =df_test['product_id'].astype('int32')
# df_test['aisle_id'] =df_test['aisle_id'].astype('int8')
# df_test['department_id'] =df_test['department_id'].astype('int8')
# df_test['prices'] =df_test['prices'].astype('float16')
# df_test['reordered']=df_test['reordered'].astype('float16')
# df_test['order_id']=df_test['order_id'].astype('int32')
# df_test['user_id']=df_test['user_id'].astype('int32')
# df_test['order_number']=df_test['order_number'].astype('int32')
# df_test['orders_day_of_week'] =df_test['orders_day_of_week'].astype('float16')
# df_test['order_time_of_day'] =df_test['order_time_of_day'].astype('float16')
# df_test['days_since_prior_order'] =df_test['days_since_prior_order'].astype('float16')
# df_test['new_customer'] =df_test['new_customer'].astype('float16')
# df_test['add_to_cart_order'] =df_test['add_to_cart_order'].astype('float16')

In [23]:
#df_test.info()

### 4.  Exporting orders_products_merged dataset in .pkl format

In [35]:
merged_df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'merged_ordsprods.pkl'))

In [25]:
#df_test.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.csv'))